
h1 {
    color: black;
    font-size: 50px;
    margin-top: 16px;
    margin-bottom: 40px;
}

p{
    color: black;
    margin-bottom: 10px;
}

#main{
    background-color: #f5f5f7 ;
    display: flex;
    justify-content: center;
}

.controls_wrapper {
    display: flex;
    justify-content: start;
    width: 1000px;
}

.controls {
    display: flex;
}

.controls_btn{
    color: #5e2ec8;
    border: none;
    border-radius: 15px;
    padding: 10px 16px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 8px;
}

.controls_btn:hover {
    color: white;
    background-color: #5e2ec8;
    transition: background-color 0.5s ease-in-out;
}

.article {
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 1000px;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
}

.article_icon{
    width: 20px;
    height: auto;

}

.article_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    padding: 4px;
    border-radius: 8px;

    border-width: 2px;
    border-color: grey;
    background-color: white;
}

.article_btn:hover{
    cursor: pointer;
}

.article_btns{
    display: flex;
    flex-direction: row ;
    margin-bottom: 40px;
}

.article_text {
    width: 60%;
}

.article_image{
    width: 40%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article_image_name{
    margin: 20px;
}