{% extends 'base.html' %}

{% block title %}{{title_article}}{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='article.css') }}">
{% endblock styles %}

{% block content %}
<div class="controls_wrapper">  
    <div class="controls">
        <button class="controls_btn">Править</button>
        <form action="{{ url_for('delete_article', id=article.id) }}" method="POST">
            <button 
                type="submit" 
                class="controls_btn"
                onclick="return confirm('Вы уверены, что хотите удалить статью?')"
            >
                Удалить
            </button>
        </form>
    </div>
</div>


<div class="article">
    <div class="article_text">
        <div>
            <h1>{{ article.title }}</h1>
        </div>

        <div class="article_btns">
            <button class="article_btn">
                <img src="{{ url_for('static', filename='images/translate.png') }}" class="article_icon">
            </button>
            <button class="article_btn"><img src="{{ url_for('static', filename='images/share.png') }}" class="article_icon"></button>
            <button class="article_btn">
                <img src="{{ url_for('static', filename='images/headphones.png') }}" class="article_icon">
                Послушать</button>
        </div>

        <div>
            {{article.content}}
        </div>

    </div>

    <div class="article_image">
        <h3 class="article_image_name">{{article.title}}</h3>

        <img src="{{ url_for('uploaded_photo', filename=article.photo) }}" alt="{{article.title}}">
    </div>
</div>
{% endblock content %}