body {
    font-family:'Gill Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #6261e3;
}

p {
    color: grey
}

.center_text {
    text-align: center;
}

.header {
    margin: 0, auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_with_question {
    border: none;
    background-color: #ebecff;
    color: black;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 3px;
    border-radius: 13px;
    font-size: 14px;
    cursor: pointer;
}

.card_with_question:hover {
    background-color: #caccf8 ;
}

.cards {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.smart-search-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smart-search-text {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
    margin-left: 3px;
}

.search-button-block {
    display: flex;
    justify-content: center;
}

.search-button {
    border: none;
    border-radius: 13px;
    padding: 9px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button:hover {
    background-color: #c4c4c4;
}

.search-button-icon {
    width: 15px; 
    height: 15px;
     margin-right: 4px; 
}