body {
    font-family: 'Gill Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    margin: 0, auto;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: transparent;
    font-size: 50px;
    background-image: linear-gradient(0deg,#6261e3,#b74ff7);
    margin-top: 16px;
    background-clip: text;
}

p{
    color: gray;
}

.center_text{
    text-align: center;
}

.cars_with_background{
    background-color: #ebecff;
    color: black;
    width: 200px;
    height: auto;
    padding: 15px;
    margin: 3px;
    border-radius: 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.cars_with_background:hover{
    background-color: bisque;
}

.cards{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}

.smart-search-block{
    display: flex;
    flex-direction: column;
}

.smart-search-text{
    display: flex;
    justify-content: start;
    margin-bottom: 10px ;
    margin-left: 3px;
}

.search-button-block{
    display: flex;
    justify-content: center;
}

.search-button{
    border-color: yellow black;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;


    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button:hover{
    background-color: beige;
}



.ruwiki-icon{
    width: 150px;
    height: auto;
}

.button-login{
    color: #5e2ec8;
    border: none;
    border-radius: 15px;
    padding: 6px 12px;
    cursor: pointer;

}

.button-login:active{
    color: #faa700;
}


.button-change-font{
    color: #1e1e1e;
    border: none;
    border-radius: 15px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
}

.header_menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}


.search-field{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#search-text{
    border: 2px double #d6d9ff;
    height: 64px;
    border-radius: 20px;
    font-size: 16px;
    text-indent: 5px;
}


.body{
    width: 80%;
}

.news{
    display: flex;
    justify-content: center;
    align-items: center;

}

.news_background{
    background-color: #b4acc5;
    color: black;
    width: 100%;
    height: auto;
    min-height: 300px;
    
    padding: 50px;
    margin: 10px;
    border-radius: 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}