body {
    font-family:'Gill Sans', sans-serif;
}

h1 {
    color: #6261e3;
}

p {
    color: grey
}

.center_text {
    text-align: center;
}

.card_with_question {
    background-color: #ebecff;
    color: black;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 3px;
    border-radius: 13px;
    font-size: 14px;
}

.cards {
    display: flex;
    justify-content: center;
}