{% extends 'base.html' %}

{% block title %}Создать статью{% endblock title %}

{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='add_article.css') }}">

{% endblock styles %}


{% block content %}
<h1>создать статью</h1>

<form class="add_article_form" action="{{ url_for('add_article') }}" method="POST" enctype="multipart/form-data">
    <div class="form_group">
        <label for="title">название статьи:</label>
        <input type="text" id="title" name="title" required>
    </div>
    
    <div class="form_group">
        <label for="content">содержание сатьи:</label>
        <textarea name="content" id="content" required></textarea>
    </div>
    
    <div class="form_group">
        <label for="photo">прикрепить фото(jpg, svg, png):</label>
        <input type="file" id="photo" name="photo" accept=".jpg, .jpeg, .png, .svg" required> 
    </div>
    
    <input type="submit" value="создать статью">
    
</form>
{% endblock content %}