<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание новой статьи</title>
</head>
<body>
    <h1>Создать статью</h1>

    <form action="" method="post">
        <label for="title">Название статьи:</label>
        <input type="text" name="title" required>
        <br>

        <label for="content">Содержание статьи:</label>
        <textarea name="content" id="content" cols="30" rows="10" required></textarea>
        <br>

        <label for="photo">Прикрепить фото (jpg, png)</label>
        <input type="file" id="photo" name="photo" accept=".jpg, .jpeg, .png" required>
        <br>

        <input type="submit" value="Создать статью">
        <br>
    </form>
</body>
</html>