{% extends 'base.html' %}

{% block title %}Соник{% endblock title %}

{% block styles %}
<link rel="shortcut icon" href="../static/ruwiki_head.jpg" />
<link rel="stylesheet" href="../static/base.css">
<link rel="stylesheet" href="../static/article.css">
{% endblock styles %}

{% block content %}
<div class="article">
    <div>
        <div>
            <h1>Ёж Соник</h1>
        </div>

        <div class="article_btns">
            <button class="article_btn">
                <img src="../static/translate.png" class="article_icon">
            </button>
            <button class="article_btn"><img src="../static/share.png" class="article_icon"></button>
            <button class="article_btn">
                <img src="../static/headphones.png" class="article_icon">
                Послушать</button>
        </div>

        <div>
            <p>
                <strong>Ёж Со́ник</strong> (<a href="https://ru.ruwiki.ru/wiki/Японский_язык">яп.</a>
                ソニック・ザ・ヘッジホッグ
                Соникку дза Хэдзихоггу,
                англ. Sonic the Hedgehog)
                — главный персонаж серии видеоигр Sonic the Hedgehog от компании <a
                    href="https://ru.ruwiki.ru/wiki/Sega">Sega</a>,
                а также созданных на её основе комиксов,
                мультсериалов и полнометражных фильмов.
            </p>

            <p>
                Соник — синий антропоморфный ёж, созданный художником Наото Осимой,
                программистом Юдзи Накой и дизайнером Хирокадзу Ясухарой. Во время
                разработки было предложено множество образов главного героя будущей
                игры, но разработчики остановились на ёжике синего цвета. Своё имя
                Соник получил за способность бегать на сверхзвуковых скоростях
                (англ. sonic — «звуковой; со скоростью звука»).
                Геймплей за Соника в большинстве игр серии Sonic the Hedgehog
                заключается в быстром прохождении уровней и битвах с врагами, для
                атаки которых Соник сворачивается в шар во время прыжка. Немаловажную
                роль для Соника играют золотые кольца, служащие ему в качестве защиты.
                Главным антагонистом героя является доктор Эггман, который хочет захватить
                мир и построить свою империю «Эггманленд».
            </p>
            <p>
                После выхода одноимённой игры с его участием Соник быстро стал популярным во
                всём мире и положил начало крупной медиафраншизе. Персонаж стал талисманом компании Sega,
                которым остаётся и сейчас, сменив Алекса Кидда, бывшего неофициальным маскотом компании до 1990
                года.
                На ноябрь 2014 года было продано свыше 150 миллионов экземпляров игр серии о Сонике[4]. Помимо
                компьютерных игр,
                ёж Соник является главным героем комиксов, книг, ряда мультсериалов и полнометражных аниме и
                фильмов.
            </p>
        </div>

    </div>
</div>

{% endblock content %}