<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Соник</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/article.css">
    </head>

    <body></body>
        <div>
            <h1>Ёж Соник</h1>
        </div>

        <div>
            <button>На других языках</button>
            <button>Поделиться</button>
            <button>Послушать</button>
        </div>

        <div>
            <p>
                <strong>Ёж Со́ник</strong> (<a href="https://ru.ruwiki.ru/wiki/Японский_язык">яп.</a>
                ソニック・ザ・ヘッジホッグ Соникку дза Хэдзихоггу,
                <a href="https://ru.ruwiki.ru/wiki/Английский_язык">англ.</a> Sonic the Hedgehog)
                — главный персонаж серии видеоигр 
                <a href="https://ru.ruwiki.ru/wiki/Sonic_the_Hedgehog_(серия_игр)">Sonic the Hedgehog</a>
                от компании <a href="https://ru.ruwiki.ru/wiki/Sega">Sega</a>,
                а также созданных на её основе комиксов,
                мультсериалов и полнометражных фильмов.
            </p>
            <p>
                Соник — синий антропоморфный ёж, созданный художником Наото Осимой,
                программистом Юдзи Накой и дизайнером Хирокадзу Ясухарой. 
                Во время разработки было предложено множество образов главного героя будущей игры, 
                но разработчики остановились на ёжике синего цвета. 
                Своё имя Соник получил за способность бегать на сверхзвуковых скоростях
                (англ. sonic — «звуковой; со скоростью звука»).
                Геймплей за Соника в большинстве игр серии Sonic the Hedgehog заключается в быстром прохождении уровней и битвах с врагами,
                для атаки которых Соник сворачивается в шар во время прыжка.
                Немаловажную роль для Соника играют золотые кольца, служащие ему в качестве защиты.
                Главным антагонистом героя является доктор Эггман,
                который хочет захватить мир и построить свою империю «Эггманленд».
            </p>
        </div>
    </body>
</html>

